/.git
/.dockerignore
.gitignore
Dockerfile
docker-compose.yml
docker-compose.*.yml

/.project
/.pydevproject
/.settings
/.idea
/.sonar
/.venv
/.env
/.env.local
/.env.local.example
/.env.production
/.env.production.example
/.vscode
/env
/staticfiles
/media

Thumbs.db
.DS_Store
*~

*.prefs
*.pyc
*.orig
*.db
*.sqlite
*.sqlite3

local_settings.py
.vscode