/.project
/.pydevproject
/.settings
/.idea
/.sonar
/.venv
/.env
/.env.local
/.env.production
/.vscode
/env
/staticfiles
/media

Thumbs.db
.DS_Store
*~

*.prefs
*.pyc
*.orig
*.db
*.sqlite
*.sqlite3

local_settings.py
.vscode
docker-compose.override.yml
